*~
*.jou
*.log
*.str
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.cache
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.hw
fractalsProject/out/
fractalsProject/pointsImport.exe
fractalsProject/pointsImported.txt