*~
*.jou
*.log
*.str
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.cache
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.hw
fractalsProject/out/
fractalsProject/pointsImport.exe
fractalsProject/pointsImported.txt

fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.runs/
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk100_148p5/clk100_148p5.dcp
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk100_148p5/clk100_148p5.v
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk100_148p5/clk100_148p5.xdc
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk100_148p5/clk100_148p5_board.xdc
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk100_148p5/clk100_148p5_clk_wiz.v
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk100_148p5/clk100_148p5_late.xdc
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk100_148p5/clk100_148p5_ooc.xdc
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk100_148p5/clk100_148p5_sim_netlist.v
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk100_148p5/clk100_148p5_sim_netlist.vhdl
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk100_148p5/clk100_148p5_stub.v
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk100_148p5/clk100_148p5_stub.vhdl
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk100_148p5/mmcm_pll_drp_func_7s_mmcm.vh
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk100_148p5/mmcm_pll_drp_func_7s_pll.vh
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk100_148p5/mmcm_pll_drp_func_us_mmcm.vh
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk100_148p5/mmcm_pll_drp_func_us_pll.vh
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk100_148p5/mmcm_pll_drp_func_us_plus_mmcm.vh
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk100_148p5/mmcm_pll_drp_func_us_plus_pll.vh
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk12_200/clk12_200.dcp
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk12_200/clk12_200.v
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk12_200/clk12_200.xdc
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk12_200/clk12_200_board.xdc
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk12_200/clk12_200_clk_wiz.v
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk12_200/clk12_200_ooc.xdc
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk12_200/clk12_200_sim_netlist.v
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk12_200/clk12_200_sim_netlist.vhdl
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk12_200/clk12_200_stub.v
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk12_200/clk12_200_stub.vhdl
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk12_200/mmcm_pll_drp_func_7s_mmcm.vh
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk12_200/mmcm_pll_drp_func_7s_pll.vh
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk12_200/mmcm_pll_drp_func_us_mmcm.vh
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk12_200/mmcm_pll_drp_func_us_pll.vh
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk12_200/mmcm_pll_drp_func_us_plus_mmcm.vh
fractalsProject/CMODA7_fractalDemo/CMODA7_fractalDemo.srcs/sources_1/ip/clk12_200/mmcm_pll_drp_func_us_plus_pll.vh