.vs
src/out/*
src/bin/*
src/obj/*
libs/out/*
libs/selftest/*.exe
libs/selftest/out
testMathResult_*.txt
*~
a.exe
testMath.exe
res.txt
obj_dir
div.c
*.suo
libs/flm/out
libs/flm/flm_test.exe
libs/flm/flm_test.txt